/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .contact-img img {
    width: 235px;
}
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
.logo, .author-food-img, .contact-img {
  text-align: center;
}
 
.header-text h2 {
	font-size: 60px;
}
 
.header-text {
    padding: 150px 0 100px;
}
.author-food-img {
    margin-top: 30px;
}
    
.contact-img {
	margin-bottom: 30px;
}
.footer-area {
	font-size: 14px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    
.navbar-header {
	position: absolute;
	right: 0;
	top: -50px;
}
    
.social-links {
	top: -14px;
}
.is-sticky .social-links {
	top: -14px;
}
.is-sticky .logo img {
    height: 85px;
}
.mainmenu {
	padding-right: 0px;
    padding-top: 20px;
    text-align: center;
}
.navbar-toggle {
	float: none;
	margin: 0;
    border-color: #fff;
}
    
.navbar-toggle .icon-bar {
	background: #fff;
}
    
.mobile-menu-activated .is-sticky .mainmenu ul.nav.navbar-nav li a {padding: 15px}
.mobile-menu-activated ul.nav.navbar-nav {
  background: #000;
  text-align: center;
}
.mobile-menu-activated ul.nav.navbar-nav li {
  display: block;
}
.mobile-menu-activated ul.nav.navbar-nav li a {
  padding: 15px;
  border-bottom: 1px solid #333;
}
.mobile-menu-activated ul.nav.collapse {
	box-shadow: 0 0 0;
}

.header-text h2 {
	font-size: 35px;
}

.section-padding {
	padding: 60px 0;
}

.testimonial-list {
	font-size: 16px;
}

.contact-img img {
	margin-bottom: 30px;
    width: auto;
}
    
.footer-widget {
	margin-bottom: 50px;
}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}