/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid; }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Yeseva One', cursive;
}
html,
body { height: 100% }
body {
    font-family: 'Gentium Book Basic', serif;
    font-size: 16px;
}
a:hover { text-decoration: none; }

.sticky-wrapper {
    position: absolute;
    top: 0;
	width: 100%;
	z-index: 999; 
}

.header-area {width: 100%}

.logo img {height: 90px}

.is-sticky .header-area:after {
	background: #000;opacity: 0.8;position: absolute;left: 0;top: 0;width: 100%;height: 100%;content: "";z-index: -1
}

.slide-bg-1 {background-image: url(img/header-bg.jpg)}
.slide-bg-2 {background-image: url(img/new-irr-sec-bg.jpg)}

.header-text h2 {
	background-image: url(img/line_symbol.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 70px;
	color: #fff;
	font-size: 70px;
	margin-bottom: 40px;
}

.top-area {
    position: relative;
}

.top-area-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header-text-area {position: relative;padding-top: 80px}

.mainmenu ul.nav.navbar-nav {
    text-align: right;
    float: none;
    font-size: 20px;
}

.mainmenu ul.nav.navbar-nav li {
    float: none;
    display: inline-block;
    position: relative;
}

.mainmenu ul.nav.navbar-nav li a {
    color: #fff;
    padding: 40px 15px;
}

.mainmenu ul.nav.navbar-nav li:hover a {
    background: none;
}

.mainmenu ul.nav.navbar-nav li.active::before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background: #C8C5BA;
    content: "";
    left: 0;
}


.mainmenu ul.nav.navbar-nav li a:focus {
    background: none;
}


.btn-filled {
    position: relative;
    z-index: 1;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    margin: 0 5px;
}

.btn-filled::after {
    z-index: -1;
    background: #1D2122;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.8;
}

.btn-filled.yellow-color-btn::after {
    background-color: #D2BA82;
}

.header-text {
    padding: 100px 0;
}

.social-links {
    position: absolute;
    right: 0;
    top: 37px;
}


.social-links a {
    color: #D8B13D;
    font-size: 20px;
    display: inline-block;
    padding-left: 5px;
}

.mainmenu {
    position: relative;
    padding-right: 80px;
}

.header-area:after, .logo img, .mainmenu ul.nav.navbar-nav li a, .social-links {transition: .4s}

.is-sticky .logo img {
    height: 65px;
    width: auto;
    padding: 10px 0;
}
.is-sticky .mainmenu ul.nav.navbar-nav li a {
    padding: 22px 15px;
}

.is-sticky .mainmenu ul.nav.navbar-nav li.active a {
    color: #CC9900;
}

.is-sticky .social-links {
    top: 18px;
}


.about-area {background: url(/img/symphony.png)}
.section-padding {padding: 80px 0}
.section-title {
    background: url(img/section-title-pattern.png) no-repeat scroll center bottom;
    color: #CC9900;
    padding-bottom: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.slide-control {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 80px;
    margin-top: -70px;
    left: 30px;
    opacity: .3;
}

.slide-control.right {
    left: auto;
    right: 30px;
}

.slide-control:hover {
    opacity: 1;
    color: #fff;
}

#top-slide-carousel.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#top-slide-carousel.carousel-fade .carousel-inner .item,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#top-slide-carousel.carousel-fade .carousel-inner .active,
#top-slide-carousel.carousel-fade .carousel-inner .next.left,
#top-slide-carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#top-slide-carousel.carousel-fade .carousel-inner .next,
#top-slide-carousel.carousel-fade .carousel-inner .prev,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#top-slide-carousel.carousel-fade .carousel-control {
  z-index: 2;
}

.about-text {
    margin-top: 20px;
}

.author-photo {
    margin-top: 30px;
}

.igredients-area {position: relative;}
.parallax-bg {position: absolute; left: 0; top:0; width: 100%; height: 100%; background-size: cover;background-attachment: fixed}
.igredients-bg {background-image: url(img/new-irr-sec-bg.jpg)}

.igredients-text {
    z-index: 1;
    position: relative;
    color: #fff;
    padding: 30px;
}

.igredients-text p {margin-bottom: 30px}
.igredients-text::after , .testimonial-list::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    z-index: -1;
    opacity: 0.7;
}

.section-title.white-sec-title {color: #fff; background-image: url(img/section-title-pattern-white.png)}

.food-menu-area {background: url(img/symphony.png)}

.single-food-menu-item h2 {
    border-bottom: 1px solid;
    color: #c89f2d;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.single-food-menu-item span {
    float: right;
    font-weight: 400;
}

.single-food-menu-item {
    margin-bottom: 40px;
}

.single-food-menu-item.special {
    border: 1px solid #D6BB6C;
    padding: 10px;
    position: relative;
}

.single-food-menu-item.special::before {content: "Special";text-transform: uppercase;background: #D6BB6C;position: absolute;top: -23px;right: -1px;color: #fff;font-size: 14px;padding: 1px 5px;}

.single-food-menu-item p {
    margin: 0;
}

.testimonial-area {position: relative}
.testimonial-bg {background-image: url(img/new-irr-sec-bg-2.jpg)}
.testimonial-list {
    color: #fff;
    font-size: 25px;
    padding: 50px;
    position: relative;
    z-index: 1;
}
.testimonial-list p.testimonial-author {font-size: 18px;margin-top: 30px}
#testimonial-carousel::before {font-family: FontAwesome;content: "\f10d";font-size: 35px;position: absolute;left: -30px;top: -17px;color: #9A9B9A}

.contact-us-area {background-image: url(img/symphony.png)}

.contact-img img {
    margin-left: 30px;
    width: 245px;
}

.contact-form {
    text-align: left;
    margin-top: 30px;
}

.contact-form input[type=text], .contact-form select {
    width: 100%;
    border: 1px solid #e2d4ac;
    padding: 5px;
    margin-bottom: 15px;
}

.contact-form label {
    color: #cb9821;
}

.contact-form button {
    background: #cba03c;
    color: #fff;
    border: none;
    padding: 5px 30px;
    width: 150px;
    margin: 0 auto;
    display: block;
}

.footer-area {
    background: #191919;
    color: #bfbfbf;
    padding: 50px 0;
    font-size: 15px;
}

.footer-area .section-title {
    font-size: 20px;
    color: #fff;
    background-image: url(img/section-title-pattern-little.png)
}

.footer-area strong {color: #fff}


.foot-cards {
    color: #fff;
    margin-top: 20px;
}

.foot-cards i {
    margin: 0px 2px;
}

.footer-social-icon a {
    font-size: 20px;
    color: #fff;
    padding: 0px 3px;
}
/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
